.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.loginheader {
  position: relative;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.loginheader img {

  
  width: 250px;
  filter:drop-shadow(10px -13px 4px rgba(0, 0, 0, 0.5));
  position:absolute;
  margin-top: -350px;
}

.loginheader h1 {
  color: #162741;
  font-size: 35px;
  line-height:2;
  position: relative;
  margin-top: 16px;
  text-shadow:  
  1px -1px 0 #dcdcdc, 
  2px -2px 0 #dcdcdc,
  3px -3px 0 #dcdcdc;
  
}

.loginheader h2 {
  
  position: relative;
  margin-top: 10px;
  color:#162741;
  font-size: 20px;
  text-align: center;
  text-shadow:  
  1px -1px 0 #dcdcdc, 
  2px -2px 0 #dcdcdc,
  3px -3px 0 #dcdcdc;
  
}
.logininput {
  border: 2px #000 solid;
  border-radius: 8px;
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 350px;
  outline: none;
  padding: 21px;
  width: 100%;
  filter:drop-shadow(0px 5px 5px gray);
}

.loginbutton {
  background-color: #162741;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  max-width: 350px;
  padding: 20px;
  width: 100%;
  filter:drop-shadow(0px 10px 5px);
  display: block;
  color: #fff;
  box-shadow: gray 0px 5px 5px;
}

.loginbutton:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
  filter:drop-shadow(0px 5px 5px gray);
  padding: 20px;
}